html {
  height: 100%;
  width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}


.img-size img {
    width: 250px;
    height: 250px;
}

/* For homepage.html */
body.homepage {
  background-image: url('images/bckgrnd.png');
  background-repeat: no-repeat;
  color: #FFFFFF;
}



h1, h3 {
  color: white;
}

hr {
  border: 1px solid white;
}

a {
  text-decoration: none;
}

.button-container {
  text-align: center;
}

.img-size {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
